<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vivekanand Rao's Profile</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
	<style>
		.is-collapsed{
			display:none;
		}
	</style> 
</head>
<body>
	<div>
		<header>
			<div class="avatar"></div>
			<h1>Vivekanand Rao</h1>
			<p>Location: Millbrae, California, CA</p>
		</header>
		<main>
			<div class="background">
				<h2>Background</h2>
				<p>Hi, I am Vivekanand Rao (but my family, friends &amp; colleagues call me Vivek). After getting a Master’s degree in Computer Science from San Francisco State University (SFSU), I am currently working for Egnyte Inc., as a Senior Web Developer.</p>
				<p>I like learning new tools and web technologies and for that I take courses offered by Treehouse, Code School, Envato Tuts+, Learnable , PluralSight and Lynda.com.</p>
			</div>
			<div class="goals">
				<h2>Goals</h2>
				<a class="view-more">Hide</a>
				<div class="goals-content">
					<p>I want to master the process of building web sites and increase my knowledge, skills and abilities in:</p>
					<ul>
						<li>HTML</li>
						<li>CSS</li>
						<li>JavaScript</li>
					</ul>
					<p>Prior to pursuing a Master’s Degree in Computer Science, I worked as a Developer &amp; QA Engineer with Aptech Software Ltd. and Lionbridge India. While studying at SFSU, I worked as a Technology Coordinator with California Campus Compact; Technical/Administrative Support Assistant with SFSU’s Information Systems Projects and as a Web Accessibility Evaluator with ACCESS SFSU’s Accessible Technology Initiative. I also interned as a Web Developer with California Department of Financial Institutions.</p>
				</div>
			</div>
		</main>
		<footer>
			<ul>
				<li><a href="#">Twitter</a></li>
				<li><a href="#">LinkedIn</a></li>
				<li><a href="#">Github</a></li>
			</ul>
			<p>Copyright 2016, Vivekanand Rao</p>
		</footer>
	</div>
</body>
</html>